################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Properties
*.env
*.txt
/EnvironmentalistTests/bin
/EnvironmentalistTests/obj
/Environmentalist/.vs
/Environmentalist/bin
/Environmentalist/obj
/Environmentalist/Properties
/Environmentalist/aaa.kdbx
